@tailwind base;
@tailwind components;
@tailwind utilities;


.btn span:first-child {
    transform: translateX(-101%);
    transition: transform .3s ease-in
}

.btn:hover span {
    transform: translateX(0)
}


.bannercard .divider {
    transition: 300ms;
}

.bannercard:hover .divider {
    width: 50%;
}

.servicecard .underline {
    transition: 300ms;
}

.servicecard:hover .underline {
    width: 100%;
}

.workcard .filter {
    transition: 400ms;
}

.workcard:hover .filter {
    opacity: 0;
}
